{% extends 'base.html.twig' %}

{% block title %}les films{% endblock %}

{% block body %}

    {% for film in films %}
        <hr>
        <h1>{{ film.name }}</h1>
        <h4>Realisé par : {{ film.director }}</h4>
        <p>Resumé : {{ film.summary }}</p>
        <h6>Année de sortie : {{ film.createdAt|date('d-m-y') }}</h6>

        <a href="{{ path('show',{ id:film.id }) }}">Voir</a>
        <hr>
    {% endfor %}

{% endblock %}
